@import "~bootstrap/scss/bootstrap";
@import "./partials/register.scss";

body {
    background-image: url(https://consumer-component-library.roocdn.com/27.1.19/static/images/placeholder.svg);
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
    gap: 15px;
}

.border-dark {
    --bs-border-opacity: 0.4;
}

.icon-profile {
    border: 5px solid black;
    padding: 14px;
    border-radius: 100px;
    background-color: white;
}

.app-logo {
    width: 80px;
}

.card-img {
    text-align: center;

    img {
        max-height: 200px;
        object-fit: cover;
    }
}

.cover {
    object-fit: cover;
}
