@import '~bootstrap/scss/bootstrap';

body{
    background-image: url(https://consumer-component-library.roocdn.com/27.1.19/static/images/placeholder.svg);
}

.products{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.border-dark {
    --bs-border-opacity: 0.4;
}

.icon-profile {
    border: 5px solid black;
    padding: 14px;
    border-radius: 100px;
    background-color: white;
}

.app-logo{
    width: 80px;
}

.card-img{
    min-height: 200px;
    max-width: 300px;
    text-align: center;

    img{
        height: 200px;
        max-width: 200px;
        object-fit: cover;
    }
}

.cover{
    object-fit: cover;
}

