@import "~bootstrap/scss/bootstrap";
@import "./partials/register.scss";
@import "./partials/login.scss";

body {
    background-image: url(https://consumer-component-library.roocdn.com/27.1.19/static/images/placeholder.svg);
}

ul,
li {
    list-style: none;
    text-decoration: none;
}

.show-orders {
    .card {
        min-height: 160px;
        background-color: rgba(189, 210, 253, 0.676);
    }
}

.relative {
    margin: 20px 0px;
}

.page-link {
    border-radius: 5px;
}

.current-page {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px !important;
    padding: 5px 10px;
}

a {
    color: currentColor;
    text-decoration: none;
}

.products {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(250px , 300px));
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.border-dark {
    --bs-border-opacity: 0.4;
}

.icon-profile {
    border: 5px solid black;
    padding: 14px;
    border-radius: 100px;
    background-color: white;
}

.app-logo {
    width: 80px;
}
.app-title {
    width: 140px;
}

.card-img {
    text-align: center;

    img {
        max-height: 200px;
        object-fit: cover;
    }
}

.cover {
    object-fit: cover;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .products {
        grid-template-columns: repeat(1, 1fr);
    }

    .container.py-5 {
        padding-top: 0 !important;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}
