// Palette colori

$main-brand-color: rgb(1, 204, 188);
$dark-gray-footer: #2E3333;
$light-gray-footer: #434848;
$page-body-light: #F9FAFA;
$text-gray: #2E3333;
$review-4-5-green: #4D7C1B;
$review-3-4-blue: #00717C;
$free-delivery-red: #CC3A2F;